<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat</title>
    <link rel="stylesheet" type ="text/css" href="/layout.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"  crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/xuly.js">
        
    </script>
    <script src = "/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container-fluid">
            <div class="row messenger">
                    <div class="col-sm-3 col-md-3" style="background-color: #4267b2;">
                        <div>
                            <h2 style="text-align: center; color: white;">Messenger</h2>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9" style="background-color: #4267b2;">
                        <div style="float:left;" >
                            <h5 id ="useName" data-name = <%= user.userName %> ><%= user.name %></h5>
                            <h6>hoạt động 5 phút trước</h6>
                        </div>
                        <div style="float : right;">
                            <div id="_id" style="clear: both;float: right;"></div >
							<div style="clear: both;float: right;"><a id="logout" href="/index">Thoat</a></div> 
						</div>
                    </div>
            </div>
        <div class="row">
            <div class="col-sm-3 col-md-3" style="padding: 0;    background-color: #e9ebee;">
               <div style="margin-top:  5px;padding: 0 15px 0 15px;">
                    <input type="text" class="form-control" id="txtusr" style="border-radius: 50px;"  >
                   
                </div>
                <div id = 'boxContent' class="mainchat"></div>
            </div>
            <div class="col-sm-6 col-md-6  ">
                    <div id="listMessenger"></div>
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col-sm-10 col-md-10"><textarea class="form-control" rows="5" id="txtMessage"></textarea></div>
                        <div class="col-sm-2 col-md-2"><button type="button" class="btn btn-primary" id="btnSend">Send</button></div>
                    </div>
            </div>
            <div class="col-sm-3 col-md-3" style=" background-color: #e9ebee;">
                <p>Bắt đầu gọi video với <%= user.name %> ngay!</p>
                <div aria-label="Bắt đầu chat video" id="caller" title="Bắt đầu chat video" data-testid="startVideoCall" style="height: 32px; width: 32px;"><svg viewBox="0 0 64 64" style="clip-rule: evenodd; fill: none; fill-rule: evenodd; stroke: rgb(0, 132, 255); stroke-miterlimit: 10; stroke-width: 2;"><title>Bắt đầu chat video</title><g><g><path d="M47,27.8v7.5l9,4.5V23.2L47,27.8z M37.2,17H13.8C10.6,17,8,19.6,8,22.8v17.4c0,3.2,2.6,5.8,5.8,5.8h23.3
c3.2,0,5.8-2.6,5.8-5.8V22.8C43,19.6,40.4,17,37.2,17z"></path></g></g></svg></div>
            </div>
        </div>
    </div>
</body>
</html>